@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">PinkedIn</h1>
        <p class="lead">Bienvenue sur PinkedIn! Trouver le job de vos rêves.</p>
    </section>

    <div class="row">
    </div>
</main>